form {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: #fff;
  padding: 20px 0;
  border-radius: 5px;
  padding-left: 30px;
  color: #000;
}

label {
  color: #000;
}

.container>input {
  padding: 5px;
  margin: 3px 0;
  font-size: 15px;
  width: 40%;
  border: 1px solid #808080;
  border-radius: 3px;
}

.container>input:focus {
  outline: none;
  border: 1px solid #01013c;
}

.form-background {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #00000051;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0 0 0;
}

.radio-container {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 20px;
  border: none;
}

.r-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

input[type=radio] {
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #c3c2c2;
  border-radius: 100%;
  cursor: pointer;
  margin-left: 10px;
}

#r1:checked {
  background-color: #f00;
}

#r2:checked {
  background-color: #00f;
}

#r3:checked {
  background-color: #0f0;
}

#add-task {
  margin-top: 20px;
  font-size: 15px;
  padding: 5px 7px;
  border: none;
  border-radius: 3px;
  background-color: #4b1458;
  color: #fff;
  cursor: pointer;
}