@font-face {
  font-family: "Tisa Sans";
  src: url("./../assets/Tisa\ Sans\ Pro\ Regular.ttf");
}

* {
  font-family: "Tisa Sans";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  user-select: none;
}

#content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 61px 1fr;
  min-height: 100vh;
}
